@use "variables" as v;

body {
  gap: 6rem;
}

header {
  padding: 1.4rem 1.65rem;
  justify-content: space-between;
  align-items: center;

  .logo a {
    align-items: center;
    gap: 0.425rem;
    color: v.$title-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.35rem;
    transition: 0.35s;

    &:hover {
      color: v.$first-color;
    }

    box-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  .icons {
    gap: 1.5rem;

    box-icon {
      &[name="moon"] {
        width: 1.85rem;
        height: 1.85rem;
      }
    }
  }

  ul {
    gap: 4.65rem;

    a {
      color: v.$title-color;
      font-size: 1.5rem;
      font-weight: 500;
      transition: 0.2s;

      &:hover {
        color: v.$first-color;
      }
    }

    button {
      margin-top: 0.3rem;
    }

    box-icon {
      width: 1.95rem;
      height: 1.95rem;
    }
  }
}

main {
  gap: 11.5rem;
}

.hero {
  position: relative;
  gap: 2.4rem;
}

.hero__image {
  text-align: center;

  img {
    width: 20rem;
  }
}

.hero__content {
  gap: 4rem;

  &-text {
    gap: 1.8rem;
  }

  h1 {
    font-size: 3rem;
    color: v.$title-color;
  }

  p {
    font-size: 1.5rem;
    color: v.$text-color;
  }

  a {
    color: v.$body-color;
    background-color: v.$first-color;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 0.5rem;
    align-items: end;
    width: 14rem;
    padding: 1.55rem 2.7rem;
    justify-content: center;
    border-radius: 0.75rem;
    transition: 0.1s;

    &:hover {
      background-color: v.$first-color-alt;
    }

    &:hover box-icon {
      transform: translateX(0.5rem) rotate(-40deg);
    }

    box-icon {
      width: 1.8rem;
      height: 1.8rem;
      transform: rotate(-40deg);
      transition: 0.35s ease-in-out;
    }
  }
}

.hero__socials {
  position: absolute;
  gap: 3.85rem;
  transform: rotate(90deg);
  top: 7.8rem;
  right: -7.4rem;

  p {
    font-size: 1.3rem;
    color: v.$first-color;
    position: relative;
    font-weight: 500;

    &::after {
      content: "";
      width: 1.8rem;
      height: 0.155rem;
      position: absolute;
      top: 50%;
      left: 7rem;
      background-color: v.$first-color;
    }
  }

  &-icons {
    gap: 1rem;
    a {
      font-size: 2.85rem;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
    box-icon {
      width: 1.8rem;
      height: 1.8rem;
      transform: rotate(-90deg);
    }
  }
}

.about {
  gap: 3rem;

  &__content {
    gap: 3rem;
  }
}

.about__image {
  text-align: center;
  img {
    width: 28.8rem;
  }
}

.about__content-main {
  gap: 2rem;
  h2 {
    font-size: 2rem;
    color: v.$title-color;
  }

  p {
    font-size: 1.5rem;
    color: v.$text-color;
  }
}

.about__content-secondary {
  gap: 3.85em;
  &-checks {
    gap: 1.8rem;
    span {
      gap: 0.8rem;
      color: v.$text-color;
      font-size: 1.4rem;

      i {
        font-size: 1.6rem;
      }

      &:nth-of-type(2) i,
      &:nth-of-type(3) i {
        margin-bottom: 1.9rem;
      }
    }
  }

  &-button {
    a {
      color: v.$first-color;
      font-size: 1.5rem;
      font-weight: 500;
      gap: 0.466rem;
      transition: 0.2s;
      width: 11rem;

      &:hover {
        color: v.$first-color-alt;
      }

      &:hover box-icon {
        transform: translateX(0.3rem) rotate(-40deg);
      }

      box-icon {
        width: 1.8rem;
        height: 1.7rem;
        transform: rotate(-40deg);
        transition: 0.2s;
      }
    }
  }
}

.the-steps {
  background-color: v.$first-color;
  padding: 2.9rem 1.6rem;
  border-radius: 1.8rem;
  gap: 5.35rem;

  h2 {
    color: v.$body-color;
    text-align: center;
    font-size: 2rem;
  }

  &__cards {
    gap: 3rem;

    &-card {
      background-color: v.$body-color;
      padding: 2.4rem;
      border-radius: 1.8rem;
      gap: 2rem;

      &:hover span {
        transform: translateY(-0.5rem);
      }

      span {
        color: v.$body-color;
        background-color: v.$first-color-alt;
        font-size: 2rem;
        text-align: center;
        padding-top: 0.7rem;
        height: 4.5rem;
        width: 4.2rem;
        border-radius: 0.4rem;
        transition: 0.3s ease-in-out;
      }

      &-content {
        gap: 1rem;
        h3 {
          font-size: 1.6rem;
          color: v.$title-color;
        }

        p {
          font-size: 1.3rem;
          color: v.$text-color;
        }
      }
    }
  }
}


