@use "variables" as v;

body {
  gap: 6rem;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

header {
  padding: 1.4rem 1.65rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 110rem;
  z-index: 3;
  background-color: v.$body-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  .logo a {
    align-items: center;
    gap: 0.425rem;
    color: v.$title-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.35rem;
    transition: 0.3s;

    &:hover {
      color: v.$first-color;
    }

    box-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  .icons {
    gap: 1.5rem;
  }

  ul {
    gap: 4.65rem;

    a {
      color: v.$title-color;
      font-size: 1.5rem;
      font-weight: 500;
      transition: 0.3s;

      &:hover {
        color: v.$first-color;
      }
    }

    button {
      margin-top: 0.3rem;
    }
  }

  .bx-menu {
    font-size: 2.2rem;
  }

  .bx-sun {
    font-size: 1.9rem;
  }

  .bx-moon {
    font-size: 1.775rem;
  }

  .bx-sun {
    color: v.$body-color;
  }
}

.nav-active {
  right: 0;
}

main {
  gap: 11.5rem;
  margin-top: 14rem;
}

.hero {
  position: relative;
  gap: 2.4rem;
}

.hero__image {
  text-align: center;

  img {
    width: 20rem;
  }
}

.hero__content {
  gap: 4rem;

  &-text {
    gap: 1.8rem;
  }

  h1 {
    font-size: 2.6rem;
    color: v.$title-color;
  }

  p {
    font-size: 1.45rem;
    color: v.$text-color;
  }

  a {
    color: v.$body-color;
    background-color: v.$first-color;
    font-size: 1.45rem;
    font-weight: 500;
    gap: 0.5rem;
    align-items: end;
    width: 14rem;
    padding: 1.45rem 2.6rem;
    justify-content: center;
    border-radius: 0.75rem;
    transition: 0.1s;

    &:hover {
      background-color: v.$first-color-alt;
    }

    &:hover box-icon {
      transform: translateX(0.5rem) rotate(-40deg);
    }

    box-icon {
      width: 1.8rem;
      height: 1.8rem;
      transform: rotate(-40deg);
      transition: 0.35s ease-in-out;
    }
  }
}

.hero__socials {
  position: absolute;
  gap: 3.85rem;
  transform: rotate(90deg);
  top: 7.8rem;
  right: -7.4rem;

  p {
    font-size: 1.3rem;
    color: v.$first-color;
    position: relative;
    font-weight: 500;

    &::after {
      content: "";
      width: 1.8rem;
      height: 0.155rem;
      position: absolute;
      top: 50%;
      left: 7rem;
      background-color: v.$first-color;
    }
  }

  &-icons {
    gap: 1rem;
    a {
      font-size: 2.85rem;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
    box-icon {
      width: 1.8rem;
      height: 1.8rem;
      transform: rotate(-90deg);
    }
  }
}

.about {
  gap: 3rem;

  &__content {
    gap: 3rem;
  }
}

.about__image {
  text-align: center;
  img {
    width: 28.8rem;
  }
}

.about__content-main {
  gap: 2rem;
  h2 {
    font-size: 2rem;
    color: v.$title-color;
  }

  p {
    font-size: 1.5rem;
    color: v.$text-color;
  }
}

.about__content-secondary {
  gap: 3.85em;
  &-checks {
    gap: 1.8rem;
    span {
      gap: 0.8rem;
      color: v.$text-color;
      font-size: 1.4rem;

      i {
        font-size: 1.6rem;
      }

      &:nth-of-type(2) i,
      &:nth-of-type(3) i {
        margin-bottom: 1.9rem;
      }
    }
  }

  &-button {
    a {
      color: v.$first-color;
      font-size: 1.5rem;
      font-weight: 500;
      gap: 0.466rem;
      transition: 0.2s;
      width: 11rem;

      &:hover {
        color: v.$first-color-alt;
      }

      &:hover box-icon {
        transform: translateX(0.3rem) rotate(-40deg);
      }

      box-icon {
        width: 1.8rem;
        height: 1.7rem;
        transform: rotate(-40deg);
        transition: 0.2s;
      }
    }
  }
}

.the-steps {
  background-color: v.$first-color;
  padding: 2.9rem 1.6rem;
  border-radius: 1.8rem;
  gap: 5.35rem;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  h2 {
    color: v.$body-color;
    text-align: center;
    font-size: 2rem;
  }

  &__cards {
    gap: 3rem;

    &-card {
      background-color: v.$body-color;
      padding: 2.4rem;
      border-radius: 1.8rem;
      gap: 2rem;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;

      &:hover span {
        transform: translateY(-0.5rem);
      }

      span {
        color: v.$body-color;
        background-color: v.$first-color-alt;
        font-size: 2rem;
        text-align: center;
        padding-top: 0.7rem;
        height: 4.5rem;
        width: 4.2rem;
        border-radius: 0.4rem;
        transition: 0.3s ease-in-out;
      }

      &-content {
        gap: 1rem;
        h3 {
          font-size: 1.6rem;
          color: v.$title-color;
        }

        p {
          font-size: 1.3rem;
          color: v.$text-color;
        }
      }
    }
  }
}

.products {
  gap: 4.5rem;
}

.products__description {
  text-align: center;
  gap: 3rem;

  h2 {
    font-size: 2.3rem;
    color: v.$title-color;
  }

  p {
    font-size: 1.4rem;
    color: v.$text-color;
    padding-inline: 0.65rem;
  }
}

.products__list {
  justify-content: center;
  gap: 3.65rem;
}

.products__list-product {
  gap: 1.3rem;

  &:hover img {
    transform: translateY(-0.6rem);
  }

  img {
    width: 9.35rem;
    position: relative;
    transition: 0.28s ease-in-out;
  }

  &-image {
    justify-content: center;
  }

  .img-bg {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: v.$first-color-lighter;
    transform: translateX(-2.565rem);
  }

  &-description {
    justify-content: space-between;
    gap: 3rem;
  }

  span {
    font-weight: 600;
    font-size: 1.25rem;
  }

  i {
    background-color: v.$first-color;
    font-size: 1.6rem;
    padding: 0.5rem 0.4rem;
    border-radius: 0.6rem;
    transition: 0.2s;

    &:hover {
      background-color: v.$first-color-alt;
    }
  }
}

.faq {
  background-color: v.$first-color-lighter;
  padding: 9rem 2rem 4rem 2rem;
  gap: 5rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    color: v.$title-color;
  }

  &__questions {
    gap: 2.5rem;
  }
}

.faq__questions-question {
  background-color: v.$body-color;
  gap: 0.15rem;
  transition: 0.4s;
  &-uncollapsed {
    gap: 1rem;
    cursor: pointer;
    padding: 1.2rem 0.5rem;
    justify-content: start;

    i {
      font-size: 1.85rem;
      transition: 0.5s;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  &-collapsed {
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;

    p {
      font-size: 1.225rem;
      padding-inline: 3.3rem;
      padding-bottom: 1.75rem;
      line-height: 1.7;
    }
  }
}

.faq__questions-question.active .faq__questions-question-collapsed {
  max-height: 30rem;
  animation: fade 0.5s ease;
}

.faq__questions-question.active .faq__questions-question-uncollapsed i {
  transform: rotate(45deg);
}

.faq__questions-question.active {
  background-color: v.$first-color !important;
  color: v.$body-color;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contact-us {
  gap: 8rem;
}

.contact-us__content {
  gap: 2.5rem;

  h2 {
    font-size: 2rem;
    color: v.$title-color;
  }

  p {
    font-size: 1.45rem;
    color: v.$text-color;
    font-weight: 500;
  }

  p.data {
    color: v.$title-color;
    gap: 1rem;

    i {
      font-size: 2rem;
    }
  }
}

.contact-us__content {
  &-call,
  &-email {
    gap: 0.5rem;
  }
}

fieldset {
  gap: 2rem;
  border: none;

  .confirmation {
    gap: 1.5rem;
    button {
      background-color: v.$first-color;
      color: v.$body-color;
      width: 18.35rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 1.45rem;
      padding: 1.45rem 1.8rem;
      gap: 0.6rem;
      border-radius: 0.5rem;
      justify-content: center;
      align-items: center;
      transition: 0.2s;

      &:hover {
        background-color: v.$first-color-alt;
      }

      &:hover i {
        transform: translateX(0.3rem) rotate(-35deg);
      }

      i {
        transform: rotate(-35deg);
        font-size: 1.4rem;
        transition: 0.2s;
      }
    }

    p {
      font-size: 1.3rem;
      color: v.$first-color-alt;
      font-weight: 500;
      display: none;
    }
  }
}

input {
  border: none;
  border-bottom: 1px solid v.$text-color-light;
  padding: 1.5rem 0;
  outline: none;
  color: v.$text-color;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}

textarea {
  border: none;
  resize: none;
  padding: 1rem 0;
  outline: none;
  border-bottom: 1px solid v.$text-color-light;
  color: v.$text-color;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

footer {
  gap: 5rem;
  align-items: baseline;
}

.subscribe {
  gap: 3.5rem;
  a {
    color: v.$title-color;
    font-size: 1.45rem;
    font-weight: 600;
    gap: 0.4rem;
    transition: 0.2s;

    &:hover {
      color: v.$first-color;
    }

    i {
      font-size: 1.55rem;
    }
  }

  h2 {
    color: v.$title-color;
  }

  &__data {
    gap: 2.5rem;
  }

  &__data-input {
    background-color: v.$first-color-lighter;
    padding: 1rem;
    border-radius: 0.75rem;
    input {
      width: 70%;
      background-color: v.$first-color-lighter;
      border: none;
      font-size: 1.5rem;
    }

    button {
      background-color: v.$first-color;
      padding: 1.6rem 2rem;
      color: v.$body-color;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      border-radius: 0.9rem;
      justify-content: center;
      align-items: center;
      font-size: 1.45rem;
      gap: 0.8rem;
      transition: 0.2s;

      &:hover {
        background-color: v.$first-color-alt;
      }

      &:hover i {
        transform: translateX(0.3rem) rotate(-35deg);
      }

      i {
        transform: rotate(-35deg);
        font-size: 1.75rem;
        transition: 0.2s;
      }
    }
  }
}

.address {
  gap: 2.5rem;
  h2 {
    color: v.$title-color;
  }

  p {
    color: v.$text-color;
    font-size: 1.3rem;
    line-height: 2.5;
  }
}

.contact {
  gap: 2.5rem;
  h2 {
    color: v.$title-color;
  }

  &__data {
    gap: 1.3rem;
    p {
      color: v.$text-color;
      font-size: 1.3rem;
    }

    &-socials {
      gap: 1rem;

      i {
        font-size: 1.85rem;
        transition: 0.3s;
        color: v.$text-color;

        &:hover {
          transform: translateY(-0.3rem);
        }
      }
    }
  }
}

.cards {
  gap: 1.7rem;
  h2 {
    color: v.$title-color;
  }

  &__banks {
    gap: 0.6rem;
    img {
      width: 4rem;
    }
  }
}

.up-arrow {
  position: fixed;
  bottom: -6rem;
  right: 3rem;
  transition: 0.2s;
  i {
    font-size: 4.5rem;
    opacity: 0.75;
  }
}

.up-arrow.active {
  bottom: 3rem;
}
