*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // 400,500,600
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
}

img{
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.width{
  width: 90%;
  margin-inline: auto;
}

button {
  border: none;
  background: none;
}
