
$first-color: hsl(152, 24%, 32%);
$first-color-alt: hsl(152, 24%, 28%);
$first-color-light: hsl(152, 24%, 66%);
$first-color-lighter: hsl(152, 24%, 92%);
$title-color: hsl(152, 4%, 15%);
$text-color: hsl(152, 4%, 35%);
$text-color-light: hsl(152, 4%, 55%);
$body-color: hsl(152, 0%, 100%);
