$first-color: hsl(152, 24%, 32%);
$first-color-alt: hsl(152, 24%, 28%);
$first-color-light: hsl(152, 24%, 66%);
$first-color-lighter: hsl(152, 24%, 92%);
$title-color: hsl(152, 4%, 15%);
$text-color: hsl(152, 4%, 35%);
$text-color-light: hsl(152, 4%, 55%);
$body-color: hsl(152, 0%, 100%);

$first-color-dark: hsl(152, 8%, 20%); 
$title-color-dark: hsl(152, 4%, 95%); 
$text-color-dark: hsl(152, 4%, 75%); 
$body-color-dark: hsl(152, 8%, 12%); 
$container-color-dark: hsl(152, 8%, 16%);
