*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 110rem;
  margin-inline: auto;
  margin-bottom: 15rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.hidden--primary {
  display: none;
}

.width {
  width: 90%;
  margin-inline: auto;
}

body {
  gap: 6rem;
}

header {
  padding: 1.4rem 1.65rem;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  align-items: center;
  gap: 0.425rem;
  color: #252826;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.35rem;
  transition: 0.35s;
}
header .logo a:hover {
  color: #3e6553;
}
header .logo a box-icon {
  width: 2rem;
  height: 2rem;
}
header .icons {
  gap: 1.5rem;
}
header .icons box-icon[name=moon] {
  width: 1.85rem;
  height: 1.85rem;
}
header ul {
  gap: 4.65rem;
}
header ul a {
  color: #252826;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.2s;
}
header ul a:hover {
  color: #3e6553;
}
header ul button {
  margin-top: 0.3rem;
}
header ul box-icon {
  width: 1.95rem;
  height: 1.95rem;
}

main {
  gap: 11.5rem;
}

.hero {
  position: relative;
  gap: 2.4rem;
}

.hero__image {
  text-align: center;
}
.hero__image img {
  width: 20rem;
}

.hero__content {
  gap: 4rem;
}
.hero__content-text {
  gap: 1.8rem;
}
.hero__content h1 {
  font-size: 3rem;
  color: #252826;
}
.hero__content p {
  font-size: 1.5rem;
  color: #565d59;
}
.hero__content a {
  color: white;
  background-color: #3e6553;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.5rem;
  align-items: end;
  width: 14rem;
  padding: 1.55rem 2.7rem;
  justify-content: center;
  border-radius: 0.75rem;
  transition: 0.1s;
}
.hero__content a:hover {
  background-color: #365949;
}
.hero__content a:hover box-icon {
  transform: translateX(0.5rem) rotate(-40deg);
}
.hero__content a box-icon {
  width: 1.8rem;
  height: 1.8rem;
  transform: rotate(-40deg);
  transition: 0.35s ease-in-out;
}

.hero__socials {
  position: absolute;
  gap: 3.85rem;
  transform: rotate(90deg);
  top: 7.8rem;
  right: -7.4rem;
}
.hero__socials p {
  font-size: 1.3rem;
  color: #3e6553;
  position: relative;
  font-weight: 500;
}
.hero__socials p::after {
  content: "";
  width: 1.8rem;
  height: 0.155rem;
  position: absolute;
  top: 50%;
  left: 7rem;
  background-color: #3e6553;
}
.hero__socials-icons {
  gap: 1rem;
}
.hero__socials-icons a {
  font-size: 2.85rem;
  transition: 0.2s ease-in-out;
}
.hero__socials-icons a:hover {
  transform: translateY(-0.5rem);
}
.hero__socials-icons box-icon {
  width: 1.8rem;
  height: 1.8rem;
  transform: rotate(-90deg);
}

.about {
  gap: 3rem;
}
.about__content {
  gap: 3rem;
}

.about__image {
  text-align: center;
}
.about__image img {
  width: 28.8rem;
}

.about__content-main {
  gap: 2rem;
}
.about__content-main h2 {
  font-size: 2rem;
  color: #252826;
}
.about__content-main p {
  font-size: 1.5rem;
  color: #565d59;
}

.about__content-secondary {
  gap: 3.85em;
}
.about__content-secondary-checks {
  gap: 1.8rem;
}
.about__content-secondary-checks span {
  gap: 0.8rem;
  color: #565d59;
  font-size: 1.4rem;
}
.about__content-secondary-checks span i {
  font-size: 1.6rem;
}
.about__content-secondary-checks span:nth-of-type(2) i, .about__content-secondary-checks span:nth-of-type(3) i {
  margin-bottom: 1.9rem;
}
.about__content-secondary-button a {
  color: #3e6553;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.466rem;
  transition: 0.2s;
  width: 11rem;
}
.about__content-secondary-button a:hover {
  color: #365949;
}
.about__content-secondary-button a:hover box-icon {
  transform: translateX(0.3rem) rotate(-40deg);
}
.about__content-secondary-button a box-icon {
  width: 1.8rem;
  height: 1.7rem;
  transform: rotate(-40deg);
  transition: 0.2s;
}

.the-steps {
  background-color: #3e6553;
  padding: 2.9rem 1.6rem;
  border-radius: 1.8rem;
  gap: 5.35rem;
}
.the-steps h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.the-steps__cards {
  gap: 3rem;
}
.the-steps__cards-card {
  background-color: white;
  padding: 2.4rem;
  border-radius: 1.8rem;
  gap: 2rem;
}
.the-steps__cards-card:hover span {
  transform: translateY(-0.5rem);
}
.the-steps__cards-card span {
  color: white;
  background-color: #365949;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.7rem;
  height: 4.5rem;
  width: 4.2rem;
  border-radius: 0.4rem;
  transition: 0.3s ease-in-out;
}
.the-steps__cards-card-content {
  gap: 1rem;
}
.the-steps__cards-card-content h3 {
  font-size: 1.6rem;
  color: #252826;
}
.the-steps__cards-card-content p {
  font-size: 1.3rem;
  color: #565d59;
}

.products {
  gap: 4.5rem;
}

.products__description {
  text-align: center;
  gap: 3rem;
}
.products__description h2 {
  font-size: 2.3rem;
  color: #252826;
}
.products__description p {
  font-size: 1.4rem;
  color: #565d59;
  padding-inline: 0.65rem;
}

.products__list {
  justify-content: center;
  gap: 3.65rem;
}

.products__list-product {
  gap: 1.3rem;
}
.products__list-product:hover img {
  transform: translateY(-0.6rem);
}
.products__list-product img {
  width: 9.35rem;
  position: relative;
  transition: 0.28s ease-in-out;
}
.products__list-product-image {
  justify-content: center;
}
.products__list-product .img-bg {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #e6efeb;
  transform: translateX(-2.565rem);
}
.products__list-product-description {
  justify-content: space-between;
  gap: 3rem;
}
.products__list-product span {
  font-weight: 600;
  font-size: 1.25rem;
}
.products__list-product i {
  background-color: #3e6553;
  font-size: 1.6rem;
  padding: 0.5rem 0.4rem;
  border-radius: 0.6rem;
  transition: 0.2s;
}
.products__list-product i:hover {
  background-color: #365949;
}

@media only screen and (min-width: 392px) {
  .about__content-secondary-checks span:nth-of-type(2) i, .about__content-secondary-checks span:nth-of-type(3) i {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 584px) {
  .the-steps__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 767px) {
  body {
    gap: 9rem;
  }

  header {
    padding: 2.8rem 2.55rem;
  }
  header .hidden--primary {
    display: block;
  }
  header .hidden--secondary {
    display: none;
  }

  .hero {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__image {
    order: 2;
  }
  .hero__image img {
    width: 28rem;
  }
  .hero__content h1 {
    font-size: 3.225rem;
  }
  .hero__content p {
    font-size: 1.6rem;
  }
  .hero__socials {
    top: 13.25rem;
    right: -8rem;
  }

  .about {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 970px) {
  body {
    gap: 12rem;
  }

  header ul a {
    font-size: 1.615rem;
  }

  .hero__image img {
    width: 34rem;
  }
  .hero__content h1 {
    font-size: 5.3rem;
  }

  .about__image img {
    width: 36rem;
  }

  .about h2 {
    font-size: 3.8rem;
  }

  .the-steps h2 {
    font-size: 3.5rem;
  }

  .the-steps__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .the-steps__cards-card {
    padding: 3rem;
  }
  .the-steps__cards-card span {
    font-size: 2.4rem;
    width: 4.8rem;
    height: 4.7rem;
  }
  .the-steps__cards-card-content h3 {
    font-size: 1.8rem;
  }
  .the-steps__cards-card-content p {
    font-size: 1.35rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    gap: 7rem;
  }
}